#glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* Button */

#button {
    cursor: pointer;
    position: relative;
    background: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
}

#button:hover {
    letter-spacing: 0.25em;
    background: #6eff3e;
    color: #6eff3e;
    box-shadow: 0 0 35px #6eff3e;
}

#button::before {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #27282c;
}

#button span {
    position: relative;
    z-index: 1;
}

#button i {
    position: absolute;
    inset: 0;
    display: block;
}

#button i::before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 10px;
    height: 8px;
    border: 2px solid #6eff3e;
    background: #27282c;
    transition: 0.5s;
}

#button:hover i::before {
    width: 20px;
    left: 20%;
}

#button i::after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    right: 80%;
    width: 10px;
    height: 8px;
    border: 2px solid #6eff3e;
    background: #27282c;
    transition: 0.5s;
}

#button:hover i::after {
    width: 20px;
    right: 20%;
}